<div id="baseline">
	<div style="position:absolute; left:360px; top:20px;">
		<p style="float:left;">&#169 <a href="http://www.cuet.ac.bd" target="_blank" style="color:#EEE; text-decoration:none">CHITTAGONG UNIVERSITY OF ENGINEERING & TECHNOLOGY</a></p>
	</div>
</div>