<div id="logo">	
	<div id="h5">
		<h5 style="font-size:450%; text-align:center;color:white; height: 38px;">Chittagong University of Engineering & Technology</h5>
	</div>
	
	<div id="navcontainer">
		<ul id="navlist">
			<li style="position:relative;left:0%;width:5%"><a href="/">Home</a></li>
			<li id="active" style="position:relative;left:5%;width:5%"><a href="#" id="current">Faculty</a> 
				<ul id="subnavlist">
					<li id="subactive"><a href="http://www.cuet.ac.bd/faculties.php" id="subcurrent">Civil Engineering</a></li>
					<li><a href="http://www.cuet.ac.bd/faculties.php">Mechanical Engineering</a></li>
					<li><a href="http://www.cuet.ac.bd/faculties.php">Electrical & Computer Engineering</a></li>
					<li><a href="http://www.cuet.ac.bd/faculties.php">Architecture & Planning</a></li>
					<li><a href="http://www.cuet.ac.bd/faculties.php">Engineering & Technology</a></li>
				</ul>
			</li>
			<li style="position:relative;left:10%;width:5%"><a href="notice">Notice</a></li>
			<li style="position:relative;left:15%;width:15%"><a href="http://www.cuet.ac.bd/contactus.php" target="_blank">Contact Us</a></li>
			<li style="position:relative;left:15%;width:15%"><a href="developer">Developers</a></li>
		</ul>
	</div>
</div>