<html>
	<head>
		<title>CUET Online Registration</title>
		<link rel="shortcut icon" href="../../images/logo.png"> 
	</head>
	<body>
		<div style = "position:absolute; left:450px; top:100px;">
			<img src = "../images/error404.jpg">
			<br />
		</div>
		<div style = "position:absolute; left:650px; top:350px;">
			<a href = "/"><h2>Home<h2></a>
		</div>
	</body>
</html>