<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
		
	<head>

		<title>CUET Online Registration</title>
		
		<link rel="shortcut icon" href="../../images/logo.png">
		
		<link rel="stylesheet" type="text/css" href="../../stylesheets/homeCSS.css" />
		<link rel="stylesheet" type="text/css" href="../../stylesheets/developerCSS.css" />
		<script src="../../javascripts/looping.js"></script>
	
    </head>
	
	<body>
		
        <%- include ../partials/header %>
		
		<div id="text1" style="position:absolute; overflow:hidden; left:0px; top:150px; width:1348px; height:35px; background:#ddd; z-index:0">
			<marquee><a href="loginform" style="text-decoration:none;font-size:24px;">Registration is going on!</a></marquee>
		</div> 
	
		<div id="para" style="position:absolute;top:190px;left: 550px; font-size:20px; color:green"><h3>Under the guidance of</h3></div>	
			
			<div id="guide" >
				<ul>
					<li>
						<h3><img src="images/human-face.jpg">
							<script type="text/javascript">
								looping(10);
							</script>
							T.A.
						</h3>
						<p style="color:red">
							<script type="text/javascript">
								looping(0);
							</script>
							Faculty member, CSE, CUET
						</p>
					</li>
					<li>
						<h3><img src="images/human-face.jpg">
							<script type="text/javascript">
								looping(10);
							</script>
							M.C.
						</h3>
						<p style="color:red">
							<script type="text/javascript">
								looping(0);
							</script>
							Faculty member, CSE, CUET
						</p>
					</li>
				</ul>
			</div>
		
		<div id="para2" style="position:absolute;top:500px;left: 550px; font-size:20px; color:green"><h3>Developed & maintained by</h3></div>

			<div id="contacts">
				<ul>
					<li>
						<h3><img src="images/human-face.jpg">
							<script type="text/javascript">
								looping(8);
							</script>
							R.H.R.
						</h3>
					</li>
					<li>
						<h3><img src="images/human-face.jpg">
							<script type="text/javascript">
								looping(8);
							</script>
							M.G.H.H.
						</h3>
					</li>
					<li>
						<h3><img src="images/human-face.jpg">
							<script type="text/javascript">
								looping(12);
							</script>
							E.H.
						</h3>
					</li>
				</ul>
			</div>
        
			<%- include ../partials/footer %>
    </body>	
</html>