<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
		
	<head>

		<title>CUET Online Registration</title>

		<link rel="shortcut icon" href="../../images/logo.png">
		<link rel="stylesheet" type="text/css" href="../../stylesheets/homeCSS.css" />
		<link rel="stylesheet" href="../../stylesheets/themes.css" />
  	
	</head>
	
	<body>
		
        <%- include ../partials/header %>
		
		<div id="text1" style="position:absolute; overflow:hidden; left:0px; top:150px; width:1348px; height:35px; background:#ddd; z-index:0">
			<marquee><a href="loginform" style="text-decoration:none;font-size:24px;">Registration is going on!</a></marquee>
		</div>		

		<div id="notice" style="background-image:url(../images/notice.png);background-repeat:no-repeat;position:relative;width:78%;height:450px; left:262px;top:233px;"><br />
			<h4 style="color:maroon; position:relative;font-size:24px;left:38px;">Recent Events and News:</h4>
			<ul style="font-size:20px; position:relative;list-style-position:inside; list-style-type:decimal;">
				<li><a href="loginform">level-3 term-1 registration</a></li>
				<li><a href="http://www.cuet.ac.bd/admission.php" target="_blank">All Notices on Undergraduate Admission 2013-14</a></li>
				<li><a href="http://www.cuet.ac.bd/seminar-25.php" target="_blank">Seminar on Quality Assurance and Accrediation in Higher Education</a></li>
				<li><a href="http://www.cuet.ac.bd/images/MSc%20Notice.jpg" target="_blank">Notice for NOC and Thesis proposal session-2012-13 EEE Dept</a></li>
				<li><a href="http://www.cuet.ac.bd/seminar-11.JPG" target="_blank">Seminar on "Durability of Reinforced Blended Cement Concrete in Marine Environment"</a></li>
			</ul>
		</div>
        
        <%- include ../partials/footer %>
		
    </body>
	
</html>